<h1>Add Workout</h1>

<form method="POST" action="/users/:slug/workouts">
  <label for="name">Name</label>
    <input type="text" name="name" id="name">
  <label for="date">Date</label>
    <input type="text" name="date" id="datepicker">
    <br/>
    <br/>
  <label>Add Exercises:</label> 
    <p>
      <label>Name:</label> 
      <select name="exercises[][name]">
          <% @exercise_names.each do |exercise| %>
            <option value="<%= exercise %>"> <%= exercise %></option>
          <% end %>
        </select>
      <label>Sets:</label> <input type="text" name="exercises[][sets]" id="exercises_sets">
      <label>Reps:</label> <input type="text" name="exercises[][reps]" id="exercises_reps">
      <button type="button" class="remove">Remove</button>
    </p>
    <p> 
      <button type="button" class="add">Add Exercise</button>
    </p>
    <input type="submit" value="Create" id="create">
</form>

